/* === HERO === */

.hero-container {
    max-width: var(--cont-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
}

.overlay {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 600px;
    /* background-color: var(--primary-background-opacity40); */
}

.hero-title {
    color: var(--primary-white);
    font-weight: 900;
    font-style: normal;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.order-btn {
    background-color: var(--accent-color);
    color: var(--primary-white);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}


/* === SECTION === */

.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

.section p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}


/* Features Section */

.features-container {
    max-width: var(--cont-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.section.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 94px 0;
}

.section-title.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-list>.item {
    flex-basis: 270px;
    color: var(--primary-black);
}

.features-list>.item:not(:last-child) {
    margin-right: 30px;
}

.features-list>.item::before {
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    content: '';
    height: 120px;
    background-color: var(--secondary-background);
}

.features-list>.item.antenna::before {
    background-image: url(../svg/antenna\ 1.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list>.item.clock::before {
    background-image: url(../svg/clock\ 1.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list>.item.diagram::before {
    background-image: url(../svg/diagram\ 1.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list>.item.astronaut::before {
    background-image: url(../svg/astronaut\ 1.svg);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.features-list .list-title {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 10px 0;
}

.features p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}


/* About Section */

.about-container {
    max-width: var(--cont-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.about.section {
    padding-bottom: 94px;
}

.about-list {
    display: flex;
}

.about li:not(:first-child) {
    margin-left: 30px;
}


/* Team Section */

.team-container {
    width: var(--cont-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.section.team {
    background-color: var(--secondary-background);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-list {
    display: flex;
    margin: 0;
    margin-left: calc(-1 * var(--set-gap));
    margin-top: calc(-1 * var(--set-gap));
}

.team-list>.item {
    flex-basis: calc(100% / 4);
    margin-left: var(--set-gap);
    margin-top: var(--set-gap);
}

.team-list li {
    background-color: var(--primary-white);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-list p {
    margin-bottom: 16px;
}


/* .social-link-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.social-link {
    display: inline-flex;
    justify-content: center;
    color: var(--primary-icon-color);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-link:hover,
.social-link:focus {
    color: var(--primary-white);
    background-color: var(--accent-color);
}

.social-link-list>.item:not(:last-child) {
    margin-right: 10px;
}

.social-link-list .item {
    box-shadow: none;
    margin-bottom: 30px;
}

.social-link-icon {
    width: 20px;
    height: auto;
    fill: currentColor;
} */


/* Clients Section */

.section.clients {
    padding: 94px 0;
}

.clients-container {
    width: var(--cont-width);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px;
}

.clients-list {
    display: flex;
    margin: 0;
    margin-left: calc(-1 * var(--set-gap));
    margin-top: calc(-1 * var(--set-gap));
}

.clients-list>.item {
    flex-basis: calc(100% / 6);
    margin-left: var(--set-gap);
    margin-top: var(--set-gap);
}

.client-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    color: var(--primary-icon-color);
    border: 1px solid currentColor;
    border-radius: 4px;
}

.client-link:hover,
.client-link:focus {
    color: var(--accent-color);
}

.client-link svg {
    display: block;
    fill: currentColor;
    max-height: 90px;
}